/* color palette from <https://github.com/vuejs/theme> */
:root {
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  --text: #4c4f69;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;

  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;

  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;

  --blue: #1e66f5;
  --lavender: #7287fd;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--base);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.ml-1 {
  margin-left: 8px;
}

input {
  padding: 4px;
  border: 2px solid var(--overlay2);
  border-radius: 4px;
  background: var(--crust);
  outline: 0;
  font-size: inherit;
  font-family: inherit;
}

button[type="submit"] {
  margin-top: 16px;
  font-weight: bold;
  color: var(--base);
  padding: 16px;
  border: 0;
  border-radius: 32px;
  font-size: inherit;
}
